element{
    
}
*/*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;

}*/
*{outline: 1px solid white !important}
.screenshot {

    
}
.description {
    max-width: 705px;
    font-style: italic;
    font-size: 30px;
    padding-left: 20px;
}
.tittle{
    background-color:black;
    background-size: contain;
    color: white;
}
.tittle2{
    color: white;
    font-size: 30px;
    font-style: italic;
    background-color: black;

}


p > img + code{
    padding-left: 10px;
    color: black;
    font-display: 30px;
    font-style: italic;
}
.programming{
    padding-left: 10px;
    padding-right: 40px;
    color: black;
    font-size: 30px;
    font-style: italic;
    font: bold;
}


section{
    color:red;
    font: bold;
    font-size: 30px;

}

